
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://images.app.goo.gl/4X5AG3w8z9NwJopv5);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color:red;
  font-size: 70px;
  letter-spacing: 5px;
}

