
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://images.app.goo.gl/4X5AG3w8z9NwJopv5);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color:red;
  font-size: 70px;
  letter-spacing: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* positionプロパティをfixedに、topを0に指定してください */
  position:fixed;
  top:0;
  
  /* z-indexを10に指定してください */
  z-index:10;
}
